#admin>div {
    margin: 2em;
    margin-top: 0;
    width: 100%;
}
.searchbar { 
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 3px var(--medium-purple-rgb);
    border-radius: 16px;
    border-end-start-radius: 0;
    border-end-end-radius: 0;
}


.table-container {
    border: solid 2px var(--grey-hex);
    border-top: none;
    background-color: var(--text-color-rgb);
    height: 60vh;
    border-end-start-radius: 16px;
    border-end-end-radius: 16px;
}

.searchbar>button.searchButton {
    border-end-start-radius: 0;
    border-end-end-radius: 0;
    background-color: transparent;
}
.searchbar>button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.searchbar>button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.searchbar>button.searchButton:hover {
    background-color: var(--background-color-rgb);
    border: transparent 1px solid;
}
.searchbar>button.searchButton:hover>i,
.searchbar>button.searchButton:hover>* {
    color: var(--white-hex);
}
.searchbar>button.searchButton>i,
.searchbar>button.searchButton>* {
    font-weight: 600;
    color: var(--action-text-color-hex);
    padding: 0.1em;
}

.searchbar>input.searchInput {
    margin: 4px;
    flex-grow: 1;
}